### Heroes of Pymoli Data Analysis

In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_data.info

<bound method DataFrame.info of      Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]>

In [4]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [5]:
player_demo = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demo= player_demo.drop_duplicates()
num_player = player_demo.count()[0]
pd.DataFrame({"Total Number of Players":[num_player]})

   Total Number of Players
0                      576

In [6]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchase_df=purchase_data.copy()

In [8]:
# number of unique items
num_unique_items = len(purchase_df["Item Name"].unique())
# average purchase price
average_price = purchase_df["Price"].mean()

In [9]:
# number of purchase
numberofPurchase = len(purchase_df["Purchase ID"])
# Total revenue
Total_Rev = purchase_df["Price"].sum()
summary_df = pd.DataFrame({
    "Number of Unique Items": [num_unique_items],
    "Average Purchase Price": average_price,
    "Total Number of Purchases": numberofPurchase,
    "Total Revenue": Total_Rev
})
summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

## Gender Demographics


* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
player_demo_total = player_demo["Gender"].value_counts()
player_demo_perc = player_demo_total/num_player
gender_demographics = pd.DataFrame({"Total Player": player_demo_total, "Percentage of Player": player_demo_perc})
gender_demographics

                       Total Player  Percentage of Player
Male                            484              0.840278
Female                           81              0.140625
Other / Non-Disclosed            11              0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
gender_purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"]
gender_purchase_total
gender_purchase_avg = purchase_data.groupby(["Gender"]).mean()['Price']
gender_counts = purchase_data.groupby(["Gender"]).count()["Price"]

#average total purchase per person
total_per_person = gender_purchase_total / gender_demographics["Total Player"]
#convert to dataFrame
gender_data_df = pd.DataFrame({"Purchase Count": gender_counts,
                               "Average purchase price": gender_purchase_avg,
                              "Total purchase value": gender_purchase_total,
                              "Average Purchase total per person by Gender": total_per_person})
gender_data_df

,Purchase Count,Average purchase price,Total purchase value,Average Purchase total per person by Gender
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
age_bins =[0, 9.5, 14.5, 19.5, 24.5, 29.5, 34.5, 39.5, 100]
group_names =["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
player_demo["Age group"]=pd.cut(player_demo["Age"], age_bins, labels=group_names)

In [13]:
age_purchase_total = player_demo["Age group"].value_counts()
age_purchase_perc = age_purchase_total / num_player *100
age_purchase_df = pd.DataFrame({"Purchase counts": age_purchase_total,
        "Percentage of player": age_purchase_perc
})

In [14]:
age_purchase_df = age_purchase_df.sort_index()
age_purchase_df

       Purchase counts  Percentage of player
<10                 17              2.951389
10-14               22              3.819444
15-19              107             18.576389
20-24              258             44.791667
25-29               77             13.368056
30-34               52              9.027778
35-39               31              5.381944
40+                 12              2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
purchase_data["Age group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [16]:
total_purchase_by_age = purchase_data.groupby(["Age group"]).sum()["Price"]
age_average = purchase_data.groupby(["Age group"]).mean()["Price"]
age_counts = purchase_data.groupby(["Age group"]).count()["Price"]

In [17]:
avg_purchase_per_personbyAge = (total_purchase_by_age) / age_purchase_df["Purchase counts"]

In [18]:
age_data_df = pd.DataFrame({
    "Purchase COunt": age_counts, "Average purchase price": age_average,
    "Total purchase value": total_purchase_by_age,
    "Average Purchase Total per Person by AgreGroup": avg_purchase_per_personbyAge 
})
age_data_df

,Purchase COunt,Average purchase price,Total purchase value,Average Purchase Total per Person by AgreGroup
Age group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
spender_total = purchase_data.groupby(["SN"]).sum()["Price"]
spender_average =purchase_data.groupby(["SN"]).mean()["Price"]
spender_count=purchase_data.groupby(["SN"]).count()["Price"]

In [20]:
spender_date_df = pd.DataFrame({"Total Purchase Value": spender_total,
                                "Average Purchase Value": spender_average,
                                "Purchase Count": spender_count
    })
#Sorted total purchase value
spender_date_sorted_df = spender_date_df.sort_values("Total Purchase Value", ascending=False)
spender_date_sorted_df = spender_date_sorted_df.loc[:, ["Purchase Count",  "Average Purchase Value", "Total Purchase Value"]]

In [21]:
spender_date_sorted_df.head()

             Purchase Count  Average Purchase Value  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
#Etract item data
item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]
# perform basic cal
total_purchase_item= item_data.groupby(["Item ID", "Item Name"]).sum()["Price"]
avg_purchase_item= item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
count_purchase_item= item_data.groupby(["Item ID", "Item Name"]).count()["Price"]

In [23]:
# Create new dataframe
item_df = pd.DataFrame({"Total Purchase Value":total_purchase_item, "Item Price": avg_purchase_item,
    "Purchase Count":count_purchase_item
})
item_sorted_df = item_df.sort_values("Purchase Count", ascending = False)
item_sorted_df.head()

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
92,Final Critic,59.99,4.614615,13
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.230000,12
145,Fiery Glass Crusader,41.22,4.580000,9
132,Persuasion,28.99,3.221111,9
108,"Extraction, Quickblade Of Trembling Hands",31.77,3.530000,9

In [24]:
item_popularity = item_sorted_df.loc[:, ["Purchase Count", "Item Price", "Total Purchase Value"]]
item_popularity.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [25]:
item_total_purchase = item_df.sort_values("Total Purchase Value", ascending = False)

item_profitable = item_total_purchase.loc[:, ["Purchase Count","Item Price","Total Purchase Value"]]
item_profitable.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80

##  Three observable trends

1. The male players are the majority players which count for 84% of all players, female players count for 14%.
2. The average purchase total per person by gender has slight difference, with male of average of 4.07 and female of 4.47. 
3. The peak age group of player is between age 20 - 24 years old which counts for 45% of all the groups and the secondary groups falling between 15-19 (19%).